@font-face {
    font-family: "nori";
    src: url(./path/to/nori.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "nori";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

li::marker {
    display: none;
}

input {
    border: black 2px solid;
    border-radius: 5px;
    padding: 10px;
}

.msgbox-c {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.msgbox {
    border: black 2px solid;
    border-radius: 5px;
    padding: 5px;
    max-width: 70%;
    word-break: break-all;
}

.msgbox * {
    max-width: 100%;
    text-align: left;
}

.msgbox.left {
    margin-right: auto;
}

.msgbox.right {
    margin-left: auto;
}

#show {
    width: 70%;
    display: inline-block;
}

#page {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

code::-webkit-scrollbar {
    background-color: transparent;
    height: 10px;
}

code::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}

code {
    text-wrap: nowrap;
    display: inline-block;
}

#drop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: none;
    z-index: 10;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: "Consolas";
}